body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #161616;
    color: #fff;
    padding: 5px 20px;
}

main {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.navbar h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-left: 1rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #161616;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}